<!--
<div>
    <h3 class="align-middle">
        <p>Página inicial</p>
        <small class="text-muted">Em construção</small>
    </h3>
</div>
-->


<!--
<div class="row gutterFix">
    <div class="colSide">
        <app-product-registration></app-product-registration>
    </div>
    <div class="colMain">
       <app-product-details></app-product-details>
    </div>
 </div>
 -->

<!-- <app-product-registration></app-product-registration> --> 

<!-- <app-product-details></app-product-details> -->

<!--
<br>

<div class="container">
    <div class="row justify-content-around">

        <div class="col-sm-7">

            <div class="row-sm-7 justify-content-center">
                    <app-product-listing></app-product-listing>
            </div>

            <br>

            <div class="row-sm-7 justify-content-center">
                    <app-product-details></app-product-details>
            </div>

        </div>

        <div class="col">
            <app-product-registration></app-product-registration>
        </div>
    </div>
</div>

 -->

 <div class="border d-flex align-items-center justify-content-center" style="height: 500px;">
    <h4 class="align-middle">
        <p style="text-align: center;">Bem vindo</p>
        <small class="text-muted">Selecione uma das abas "Compra" ou "Gerenciamento"</small>
    </h4>
  </div>
