<br>
<div class="container">
    <div class="row justify-content-around">

        <div class="col-sm-7">
            <div class="row-sm-7 justify-content-center">
                    <app-product-listing></app-product-listing>
            </div>
            <br>
            <div class="row-sm-7 justify-content-center">
                    <app-product-details></app-product-details>
            </div>
        </div>
        <div class="col">
            <div class="row-sm justify-content-center">
                <app-product-registration></app-product-registration>
            </div>
            <br>
            <div class="row-sm justify-content-center">
                <app-product-removal></app-product-removal>
            </div>
        </div>
    </div>
    <br>
</div>